.footer__column-link {
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  transition: opacity 0.5s ease;
}
.footer__column-link:hover{
  opacity: 0.5;
}