.kaufman__triangle{
    background-image:url(../../../../../images/kaufman-triangle.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    position: absolute;
    width:50%;
    height:100%;
    top:0px;
    right:-210px ;
    z-index: 0;
    animation: 20s linear 0s normal none infinite running rot;
  }