.feynman {
  padding-top: 100px;
  position: relative;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
}